<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoneMonkeyTestRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GreenVolts - Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GreenVolts - Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GreenVolts - QA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GreenVolts - Sampler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GreenVolts AppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GreenVolts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46175C3414B3D9E90012E131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46175CF214B3D9F70012E131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46175DB014B3D9FC0012E131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461F63E414AE6C8400C6BBCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461F63FB14AE700200C6BBCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461F650614AE847B00C6BBCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461F661114AE84C200C6BBCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4621DB9014C109B900312CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467BE40B151BD2D600FE0F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467BE4D8151BD30A00FE0F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467BE5A4151CE35000FE0F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4684924414A40400007672C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468493AC14AB9BD5007672C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468493D314AB9BD6007672C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E66B0C14AE67D900360156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
